body {
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background-color:greenyellow;
}

.flex-container{
  display: flex;
  flex-direction: row;
  text-align: center;
}

h1{
  color:brown;
}
.textContainer {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
  color: white;
}

.text {

  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #3d0404;
  text-shadow: 7px 7px 8px rgba(0, 0, 0, 0.3);
  transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  transition: transform 0.3s ease;
}

/* Background animation */
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
  }
  25% {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
  }
  50% {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
  }
  75% {
    background: linear-gradient(45deg, #ffafbd, #ffc3a0);
  }
  100% {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
  }
}

.background {
  animation: gradientAnimation 15s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




